<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Διαδικτυακός Κρυμμένος Θησαυρός</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="Patras Carnival 2015 - Internet based Hidden Treasure Game"></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" th:href="@{/resources/img/favicon.ico}"></link>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"></link>

    <!-- Bootstrap theme -->
    <link th:href="@{/resources/css/bootstrap-theme.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/justified-nav.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/patrascarnival.css}" rel="stylesheet"></link>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
<div class="container">

    <div class="masthead">
        <h3 class="text-muted"><img th:src="@{/resources/img/logo.png}"/></h3>
        <ul class="nav nav-justified pull-left">
            <li class="active"><a href="http://game.carnivalpatras.gr">Διαδικτυακός Κρυμμένος Θησαυρός</a></li>
            <li><a href="http://carnivalpatras.gr" th:text="#{menu.item.2}">Πατρινό Καρναβάλι 2015</a></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>
<div class="container-fluid">

    <div class="row" id="q-0">
        <div class="col-sm-6 question-block col-sm-offset-3">
            <form method="post" accept-charset="utf-8" class="form" role="form">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

                <div class="panel panel-question" th:each="question : ${questions}">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${question.text}">Ποιός ντύθηκε μπούλα για πρώτη φορά στο Πατρινό Καρναβάλι?</h3>
                    </div>

                    <!-- panel title-->
                    <div class="panel-body answer-block">
                        <div class="btn-group-vertical answer-choice" data-toggle="buttons" style="width: 100%">
                            <select th:id="${question.id}" th:name="${question.id}" class="btn btn-default answer-block wrap-btn">
                                <option th:each="answer : ${answers[question.week]}"
                                        th:id="${answer.id}" th:value="${answer.id}" th:text="${answer.text}"
                                        class="text-left"
                                        th:selected="${userAnswers[question.id] == answer.id}">Η Γιαννούλα η κουλουρού.
                                </option>
                            </select>
                        </div>
                        <!-- buttons -->

                    </div>
                    <!-- panel body-->
                </div>

                <!--panel-primary> -->
                <div id="controls" class="col-md-12">
                    <div id="answer-action-0">
                        <button type="submit" style="width:100%; margin-top:10px; margin-bottom:20px;" class="btn btn-success">
                            Αποθήκευση
                        </button>
                    </div>
                    <!-- answer action-->
                </div>
            </form>
        </div>
    </div>

    <!-- contols-->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/game.js}"></script>

</body>
</html>
