<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/html">
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId      : '832016976836922', // App ID
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            oauth      : true, // enable OAuth 2.0
            xfbml      : true  // parse XFBML
        });
    };


    // Load the SDK asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    function postFeed(post){
        if (post){
            function requestCallback(response) {
                $('.form').submit();
            }

            FB.ui({method: 'feed',
                picture: 'https://game.carnivalpatras.gr/resources/img/logo.png',
                link: "https://www.facebook.com/carnivalpatras.gr",
                caption: "game.carnivalpatras.gr",
                description: "Μόλις έλαβα μέρος στην 3η φάση στο 9ο Παιχνίδι Διαδικτυακού Κρυμμένου Θησαυρού",
                actions: [
                    { name: 'Play now', link: 'https://game.carnivalpatras.gr/' }
                ]
            }, requestCallback);
        }else{
            $('.form').submit();
        }

    }
</script>
<head>
    <title>Διαδικτυακός Κρυμμένος Θησαυρός</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="Patras Carnival 2015 - Internet based Hidden Treasure Game"></meta>
    <meta name="author" content="Elias Iliopoulos, John Giannakopoulos, Athina Filipopoulou, Orestis Akribopoulos, Ioannis Chatzigiannakis, Marios Logaras"/>
    <meta property="og:title" content="Patras Carnival 2015 - Internet based Hidden Treasure Game"/>
    <meta property="og:site_name" content="9th Internet based Carnival Patras Hidden Treasure Game"/>
    <meta property="og:url" content="http://game.carnivalpatras.gr"/>
    <meta property="og:description" content="The game of Internet-based Hidden Treasure Game consists of 4 phases of multiple-choice questions and the Final Conflict. The game takes place on the Internet. The key to success in the game is one: think simply. All the questions, challenges and games are documented in common reasoning. Thanks for your participation and good luck!"/>
    <meta property="fb:app_id" content="832016976836922"/>
    <meta property="og:type" content="Game"/>
    <meta property="og:locale" content="el_GR"/>
    <meta property="og:locale:alternate" content="en_US"/>
    <meta property="og:image" content="http://game.carnivalpatras.gr/resources/img/logo.png" />

    <link rel="shortcut icon" th:href="@{/resources/img/favicon.ico}"></link>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"></link>

    <!-- Bootstrap theme -->
    <link th:href="@{/resources/css/bootstrap-theme.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/justified-nav.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/patrascarnival.css}" rel="stylesheet"></link>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
<div class="container">

    <div class="masthead">
        <h3 class="text-muted"><img th:src="@{/resources/img/logo.png}"/></h3>
        <ul class="nav nav-justified pull-left">
            <li class="active"><a href="http://game.carnivalpatras.gr" accept-charset="utf-8" th:text="#{menu.item.1}">Διαδικτυακός
                Κρυμμένος
                Θησαυρός</a></li>
            <li><a href="http://www.carnivalpatras.gr" th:text="#{menu.item.2}">Πατρινό Καρναβάλι 2015</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span th:text="#{language}">Language:</span>
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/?language=gr}">Ελληνικά</a></li>
                    <li><a th:href="@{/?language=en}">English</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<div class="container-fluid">

    <div class="row" id="q-0">
        <div class="col-sm-6 question-block col-sm-offset-3">
            <form method="post" accept-charset="utf-8" class="form" role="form">
                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->

                <div class="panel panel-question" th:if="${lastWeekId == 0}">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{startupMessage}">Ποιός ντύθηκε μπούλα για πρώτη φορά στο
                            Πατρινό Καρναβάλι?</h3>
                    </div>
                </div>

                <div class="panel panel-question" th:if="${lastWeekId == 5}">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{endingMessage}">Ποιός ντύθηκε μπούλα για πρώτη φορά στο
                            Πατρινό Καρναβάλι?</h3>
                    </div>
                </div>

                <div th:each="question : ${questions}">
                    <div th:class="${'panel panel-question-w' + question.week}" th:if="${question.phaseChange}">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 22px; font-weight: bold;"><span th:text="#{phase}"></span> <span
                                    th:text="${question.week}"></span></h3>
                        </div>
                    </div>

                    <div th:with="thisWeek=${question.week}"></div>

                    <div th:class="${'panel panel-question-w' + question.week}">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${question.text}">Ποιός ντύθηκε μπούλα για πρώτη φορά στο
                                Πατρινό Καρναβάλι?</h3>
                        </div>

                        <!-- panel title-->
                        <div class="panel-body answer-block">
                            <div class="btn-group-vertical answer-choice" data-toggle="buttons" style="width: 100%">
                                <select th:id="${question.id}" th:name="${question.id}"
                                        class="btn btn-default answer-block wrap-btn">
                                    <option th:each="answer : ${answers[question.week]}"
                                            th:id="${answer.id}" th:value="${answer.id}" th:text="${answer.text}"
                                            class="text-left"
                                            th:selected="${userAnswers[question.id] == answer.id}">Η Γιαννούλα η
                                        κουλουρού.
                                    </option>
                                </select>
                            </div>
                            <!-- buttons -->

                        </div>
                        <!-- panel body-->
                    </div>
                </div>

                <!--panel-primary> -->
                <div id="controls" class="col-md-12" th:if="${lastWeekId > 0}">
                    <div id="answer-action-0"  th:if="${lastWeekId != 5}">
                        <button type="submit" style="width:100%; margin-top:10px; margin-bottom:20px;"
                                class="btn btn-success" th:text="#{save}" th:onclick="'javascript:postFeed(' + ${askToPost} + '); return false;'" >
                            Αποθήκευση
                        </button>
                    </div>
                    <!-- answer action-->
                </div>

            </form>
        </div>
    </div>

    <!-- contols-->
</div>

<div id="fb-root"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/game.js}"></script>

</body>
</html>
