<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Patras Carnival 2014</title>
    <link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
    <link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
    <link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
</head>
<body>
<div id="content" layout:fragment="content">
    <form method="post" accept-charset="utf-8" class="form" role="form">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <div class="col-lg-6" th:each="question : ${questions}">
            <p th:text="${question.textGr}">question</p>

            <select th:id="${question.id}" th:name="${question.id}">
                <option th:each="answer : ${answers[question.week]}"
                        th:id="${answer.id}" th:value="${answer.id}" th:text="${answer.textGr}">Credit card
                </option>
            </select>
        </div>

        <br/><br/>
        <button>Save Answers</button>
    </form>
</div>
</body>
</html>
