<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Διαδικτυακός Κρυμμένος Θησαυρός</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="Patras Carnival 2015 - Internet based Hidden Treasure Game"></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" th:href="@{/resources/img/favicon.ico}"></link>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"></link>

    <!-- Bootstrap theme -->
    <link th:href="@{/resources/css/bootstrap-theme.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/justified-nav.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/patrascarnival.css}" rel="stylesheet"></link>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
<div class="container">

    <div class="masthead">
        <h3 class="text-muted"><img th:src="@{/resources/img/logo.png}"/></h3>
        <ul class="nav nav-justified pull-left">
            <li class="active"><a href="http://game.carnivalpatras.gr" th:text="#{menu.item.1}">Διαδικτυακός Κρυμμένος
                Θησαυρός</a></li>
            <li><a href="http://www.carnivalpatras.gr" th:text="#{menu.item.2}">Πατρινό Καρναβάλι 2015</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span th:text="#{language}">Language:</span>
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/signin/?language=gr}">Ελληνικά</a></li>
                    <li><a th:href="@{/signin/?language=en}">English</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<div class="container-fluid">

    <div class="row" id="q-0">
        <div class="col-sm-4 question-block col-sm-offset-4">
            <div class="panel panel-question">
                <div class="panel-heading">
                    <h3 class="panel-title">Όροι Χρήσης</h3>

                    <p>To περιεχόμενο και οι υπηρεσίες του δικτυακού τόπου (πλην πνευματικών δικαιωμάτων και
                        κατατεθειμένων σημάτων τρίτων) αποτελούν ιδιοκτησία του www.carnivalpatras.gr και διατίθενται
                        στους επισκέπτες / χρήστες του κόμβου αυστηρά για προσωπική χρήση. Απαγορεύεται η με οποιοδήποτε
                        τρόπο χρήση τους, σε οποιοδήποτε άλλο μέσο καθώς και για εμπορικούς σκοπούς, χωρίς γραπτή άδεια
                        της Κοινωφελους Επιχείρησης του Δήμου Πατρέων - Καρναβάλι Πάτρας και κατόχου των πνευματικών και
                        βιομηχανικών δικαιωμάτων.</p>

                    <h3>Υπηρεσίες Ενημέρωσης – Διαθεσιμότητα</h3>

                    <p>Το www.carnivalpatras.gr παρέχει στον επισκέπτη/χρήστη ολοκληρωμένη ενημέρωση σχετικά με το
                        Πατρινό Καρναβάλι.</p>

                    <p>Το περιεχόμενο του www.carnivalpatras.gr παρέχεται «ως έχει» και δεν αποτελεί σε καμία περίπτωση
                        υπόδειξη προς ενέργεια ή παράλειψη. Ο επισκέπτης/χρήστης αξιολογεί το περιεχόμενο της ενημέρωσης
                        και δρα αυτοβούλως αποκλειόμενης οποιαδήποτε ευθύνης του www.carnivalpatras.gr.</p>

                    <p>Το www.carnivalpatras.gr καταβάλει κάθε δυνατή προσπάθεια για την ανάρτηση ορθών πληροφοριών και
                        στοιχείων στο σύνολο των σελίδων του. Εντούτοις, το www.carnivalpatras.gr δε φέρει καμία ευθύνη
                        για τυχόν ζημιά που ήθελε προκληθεί στον επισκέπτη / χρήστη κατά την επίσκεψή του στο
                        www.carnivalpatras.gr, από οποιοδήποτε αιτία και ενδεικτικά λόγω μη ορθότητας ή μη πληρότητας
                        του περιεχομένου ή μη διαθεσιμότητας.</p>

                    <p>Το www.carnivalpatras.gr δεν εγγυάται και συνεπώς δεν ευθύνεται για την αδιάκοπη διαθεσιμότητά
                        του, για την άνευ σφαλμάτων παροχή των υπηρεσιών του ή του περιεχομένου του, ούτε για την
                        απουσία «ιών» ή άλλων επιζήμιων στοιχείων, είτε πρόκειται για το www.carnivalpatras.gr, είτε για
                        κάποιο άλλο site/server δια του οποίου λαμβάνει το περιεχόμενό του.</p>

                    <h3>Links</h3>

                    <p>Το www.carnivalpatras.gr δεν ευθύνεται για τη διαθεσιμότητα, το περιεχόμενο και τις υπηρεσίες των
                        εξωτερικών κόμβων στους οποίους επιλέγει να «μεταφέρεται» ο επισκέπτης/χρήστης μέσω link,
                        hyperlink ή διαφημιστικού banner που φιλοξενείται στο www.carnivalpatras.gr.</p>

                    <h3>Απαγορεύσεις</h3>

                    <p>Απαγορεύεται στον επισκέπτη / χρήστη κατά την περιήγησή του στο www.carnivalpatras.gr, η
                        παραβίαση του ελληνικού, διεθνούς ή κοινοτικού δικαίου και του Κώδικα Συμπεριφοράς Χρηστών
                        Internet (netiquette). To www.carnivalpatras.gr διατηρεί το δικαίωμα να στραφεί με οποιοδήποτε
                        νόμιμο πρόσφορο μέσο κατά του επισκέπτη / χρήστη για την διακοπή της παραβίασης και την αποτροπή
                        της επανάληψής της στο μέλλον, μη αποκλειόμενης της διεκδίκησης αποζημίωσης από τον
                        επισκέπτη/χρήστη για ενδεχόμενη πρόκληση ζημίας.</p>

                    <h3>Προστασία Προσωπικών Δεδομένων</h3>

                    <p>Τα προσωπικά δεδομένα στην Ελλάδα προστατεύονται από το Νόμο 2472/1997, (όπως αυτός μέχρι σήμερα
                        έχει τροποποιηθεί και συμπληρωθεί με νεότερους Νόμους) και από τις σχετικές Κοινοτικές
                        Οδηγίες.</p>

                    <p>Οι ρυθμίσεις που ακολουθούν, για τα προσωπικά δεδομένα, αφορούν είτε τη σχέση του
                        www.carnivalpatras.gr με τους επισκέπτες – χρήστες – μέλη, είτε τα προσωπικά δεδομένα τρίτων
                        προσώπων.</p>

                    <p>Και οι δύο πλευρές, δηλαδή το www.carnivalpatras.gr, και οι επισκέπτες – χρήστες – μέλη, οφείλουν
                        να τηρούν απαρέγκλιτα τη σχετική Νομοθεσία, και ιδιαίτερα τις προϋποθέσεις συλλογής,
                        επεξεργασίας, χρήσης των προσωπικών δεδομένων, με τις εξής επιμέρους ρυθμίσεις:</p>

                    <p>Το www.carnivalpatras.gr, μπορεί να συλλέγει αποκλειστικά και μόνο τα προσωπικά δεδομένα των
                        επισκεπτών –χρηστών – μελών που εγγράφονται στις υπηρεσίες μας, ή που χρησιμοποιούν τις
                        υπηρεσίες μας, όταν επισκέπτονται τις σελίδες του, και για το λόγο αυτό, θα γίνεται δήλωση για
                        τήρηση Αρχείου ενώπιον της αρμόδιας Αρχής.</p>

                    <p>Κατά την εγγραφή του επισκέπτη – χρήστη του www.carnivalpatras.gr σε ορισμένες υπηρεσίες,
                        ζητούνται τα ακόλουθα στοιχεία, ανεξάρτητα από το αν αυτά αποτελούν προσωπικά δεδομένα, και
                        συγκεκριμένα: όνομα, επίθετο, πατρώνυμο, διεύθυνση, επάγγελμα, ημερομηνία γέννησης, email. Του
                        εκ των στοιχείων αυτών Αρχείου, θα γίνει νόμιμος χειρισμός, από τον δικτυακό μας τόπο, και η
                        τήρηση του θα γνωστοποιείται αρμοδίως. Τα προαναφερόμενα στοιχεία, κρίνονται και από τις δύο
                        πλευρές απαραίτητα και αναγκαία, για τη συνεργασία του δικτυακού μας τόπου, με του χρήστες –
                        μέλη μας, οι οποίοι επιπροσθέτως, συναινούν στη δημιουργία αυτού του Αρχείου, τη συλλογή των
                        στοιχείων, την επεξεργασία κλπ.</p>

                    <p>Το www.carnivalpatras.gr αναλαμβάνει την υποχρέωση της μη περαιτέρω κοινοποίησης των στοιχείων
                        αυτών, για οποιοδήποτε εμπορικό, διαφημιστικό, επικοινωνιακό κλπ., σκοπό.</p>

                    <p>Ο επισκέπτης –χρήστης – μέλος σε περίπτωση αλλαγής των στοιχείων του, υποχρεούται να ενημερώνει
                        άμεσα την Κοινωφελή Επιχείριση.</p>

                    <p>Κατ’ εξαίρεση, το www.carnivalpatras.gr, δικαιούται να κοινοποιήσει τα πιο πάνω στοιχεία ή
                        προσωπικά δεδομένα, σε συνεργάτες του ή σε άλλους επισκέπτες –χρήστες – μέλη, εφ όσον αυτό
                        καθίσταται απόλυτα αναγκαίο, για την ικανοποίηση σχετικών απαιτήσεων των μελών – χρηστών, χωρίς
                        να απαιτείται κάθε φορά συναίνεση των μελών, η οποία από τούδε θεωρείται δεδομένη.</p>

                    <h3>Εφαρμοστέο δίκαιο - Δωσιδικία</h3>

                    <p>Οι όροι χρήσης διέπονται από τις σχετικές διατάξεις του Ελληνικού, Διεθνούς και Κοινοτικού
                        Δικαίου. Για οποιαδήποτε διαφορά προκύψει από την εφαρμογή των όρων αυτών, αρμόδια θα είναι τα
                        Δικαστήρια Πατρών</p>
                </div>

            </div>
        </div>
    </div>

    <!-- contols-->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/game.js}"></script>

</body>
</html>
